<a href="#" {{ card_classes | default('') }}>
    <div class="card">
        <div class="poster">
            <img src="{{ asset('build/images/card/Homme2.jpg') }}" alt="Moktar Dupont">
        </div>

        <div class="details">
            <h3>Moktar Dupont</h3>
            <div class="rating">
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-half"></i>
                <i class="bi bi-star"></i>
            </div>
            <div class="tags">
                <span>Dév. web</span>
            </div>
            <div class="info">
                <p>Passionné du code depuis 20 ans, je réaliserai tous vos sites quelles que soient les conditions. Pitié !</p>
            </div>
            <div class="cast">
                <h4>Connaissances</h4>
                <ul>
                    <li><img src="{{ asset('build/images/card/css-3NB.svg') }}" alt="CSS3"></li>
                    <li><img src="{{ asset('build/images/card/php-logo-only-letter') }}" alt="PHP"></li>
                    <li><img src="{{ asset('build/images/card/react-2NB.svg') }}" alt="REACT"></li>
                    <li><img src="{{ asset('build/images/card/symfony.svg') }}" alt="Symfony"></li>
                </ul>
            </div>
        </div>
    </div>
</a>