<a class="display_card" href="{{ path('app_freelance_show', {'id': freelance.id}) }}">
    <div class="card">
        <div class="poster">
            <img src="{{ asset('uploads/photo_free/' ~ freelance.photo) }}" alt="{{ freelance.user.firstname }} {{ freelance.user.lastname }}">
        </div>

        <div class="details">
            <h3>{{ freelance.user.firstname }} {{ freelance.user.lastname }}</h3>

{#            <div class="rating">#}
{#                <i class="bi bi-star-fill"></i>#}
{#                <i class="bi bi-star-fill"></i>#}
{#                <i class="bi bi-star-fill"></i>#}
{#                <i class="bi bi-star-half"></i>#}
{#                <i class="bi bi-star"></i>#}
{#            </div>#}

            <div class="tags">
                {% for work in freelance.user.works %}
                <span> {{ work }} </span>
                {% endfor %}
            </div>
            <div class="info">
                <p> {{ freelance.presentation }} </p>
            </div>
            <div class="cast">
                <h4>Connaissances</h4>
                <ul>
                    {% for freeskill in freelance.skills|slice(0, 4) %}
                        {% if freeskill == "CSS" %}
                            <li><img src="{{ asset('build/images/card/css-3NB.svg') }}" alt="CSS3"></li>
                        {% elseif freeskill == "HTML" %}
                            <li><img src="{{ asset('build/images/card/HTML-NB.svg') }}" alt="HTML"></li>
                        {% elseif freeskill == "JavaScript" %}
                            <li><img src="{{ asset('build/images/card/JS.svg') }}" alt="JS"></li>
                        {% elseif freeskill == "PHP" %}
                            <li><img src="{{ asset('build/images/card/php-logo-only-letter.svg') }}" alt="PHP"></li>
                        {% elseif freeskill == "React" %}
                            <li><img src="{{ asset('build/images/card/react-2NB.svg') }}" alt="React"></li>
                        {% elseif freeskill == "Symfony" %}
                            <li><img src="{{ asset('build/images/card/symfony.svg') }}" alt="Symfony"></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</a>