<a href="#" {{ card_classes | default('') }}>
    <div class="card">
        <div class="poster">
{#            {{ dump(freelance.photo) }}#}
            <img src="{{ asset('uploads/photo_free/' ~ freelance.photo) }}" alt="{{ freelance.user.firstname }} {{ freelance.user.lastname }}">
        </div>

        <div class="details">
            <h3>{{ freelance.user.firstname }} {{ freelance.user.lastname }}</h3>

{#            <div class="rating">#}
{#                <i class="bi bi-star-fill"></i>#}
{#                <i class="bi bi-star-fill"></i>#}
{#                <i class="bi bi-star-fill"></i>#}
{#                <i class="bi bi-star-half"></i>#}
{#                <i class="bi bi-star"></i>#}
{#            </div>#}

            <div class="tags">
                {% for work in freelance.user.works %}
                <span> {{ work }} </span>
                {% endfor %}
            </div>
            <div class="info">
                <p> {{ freelance.presentation }} </p>
            </div>
            <div class="cast">
                <h4>Connaissances</h4>
                <ul>
                    <li><img src="{{ asset('build/images/card/css-3NB.svg') }}" alt="CSS3"></li>
                    <li><img src="{{ asset('build/images/card/php-logo-only-letter.svg') }}" alt="PHP"></li>
                    <li><img src="{{ asset('build/images/card/react-2NB.svg') }}" alt="REACT"></li>
                    <li><img src="{{ asset('build/images/card/symfony.svg') }}" alt="Symfony"></li>
                </ul>
            </div>
        </div>
    </div>
</a>