{% extends 'base.html.twig' %}

{% block title %}{{ freelance.user.firstname }} {{ freelance.user.lastname }}{% endblock %}

{% block main %}

    <section class="free_section">
        <div class="free_pic">
            <img class="free_picture" src="{{ asset('uploads/photo_free/' ~ freelance.photo) }}" alt="Tof du free">
        </div>

        <div class="free_name">
            <h1 class="free_name_text">{{ freelance.user.firstname }} {{ freelance.user.lastname }}</h1>
            <div class="free_text">
                {% if freelance.categories %}
                    {% for category in freelance.categories %}
                        {{ category }}
                        <br>
                    {% endfor %}
                {% else %}
                    Aucune catégorie trouvée.
                {% endif %}
            </div>
        </div>

        <div class="free_infos">
            <div>
                <h3 class="free_title_text">Skills</h3>
                <div class="free_infos_text">{{ freelance.skills ? freelance.skills|join(', ') : '' }}</div>
            </div>

            <div>
                <h3 class="free_title_text">Expérience</h3>
                <div class="free_infos_text">{{ freelance.experience ? freelance.experience|join(', ') : '' }}</div>
            </div>

            <div>
                <h3 class="free_title_text">Localisation</h3>
                <div class="free_infos_text">{{ freelance.localisation }}</div>
            </div>

            <div>
                <h3 class="free_title_text">Je travaille</h3>
                <div class="free_infos_text">{{ freelance.choiceLocalisation ? freelance.choiceLocalisation|join(', ') : '' }}</div>
            </div>
        </div>

        <div class="free_description">{{ freelance.description }}</div>

        <div class="free_but">
            <a class="portfolio_button" href="{{ path('app_home') }}">Retour à la liste</a>

            <a class="portfolio_button" href="{{ path('app_portfolio', {'id' : freelance.id}) }}">Portfolio</a>

            <a class="portfolio_button" href="{{ path('app_discussing_index',{'id' : freelance.id}) }}">Contacter</a>
        </div>

    </section>

{#    <a class="portfolio_button" href="{{ path('app_freelance_edit', {'id': freelance.id}) }}">éditer</a>#}
{#    <div class="portfolio_button">{{ include('freelance/_delete_form.html.twig') }}</div>#}




{% endblock %}
